<!DOCTYPE html>

<html lang="en-US">
  <head>
    <%- include('../layouts/head') %>
  </head>

  <body>

    <%- body %>

    <footer>
      <%- include('../layouts/footer') %>
    </footer>

    <%- include('../layouts/foot') %>
  </body>
</html>
