<header>
  <h1><%= sharedData.header.title %></h1>
  <a href="<%= site.basePath %>"><img src="<%= site.basePath %><%= site.assetsManifest['static/images/bowman.png'] %>" alt="bowman-logo"></a>
</header>