// Text defaults
/// @type List
$font-type: 'Tajawal', serif !default;

/// @type number
$default-font-size: 1.25em !default;

/// @type number
$default-margin: 1.34em !default;

/// @type number
$default-line-height: 2.5em !default;

/// @type number
$h1-font-size: 2rem !default;

/// @type number
$h2-font-size: 1.5rem !default;

// Website color scheme
/// @type Color
$dark-blue: #333a56 !default;

/// @type Color
$light-blue: #52658f !default;

// Screen size variables
$screen-xs-min: 320px;
$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1440px;
