h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

// bullet alignment
ul {
  margin-left: $default-margin;
}

// make text a little bigger
p,
li {
  font-size: $default-font-size;
}

// basic styling for links
a {
  color: $light-blue;
  font-weight: bold;
  background-color: beige;

  @include on-event {
    color: $dark-blue;
  }
}

main,
section {
  margin-bottom: $default-margin;

  @include md {
    @include left-adjusted-center;

    width: 700px;
  }
}

header,
footer,
.center {
  @include md {
    @include center;
  }
}

img {
  margin-bottom: $default-margin;
  max-width: 50%;
  height: auto;
}
